
body {
	background-color: #d5eff6;
}

nav {
	background-color: #eaf7fb;
}

h2, h3, h4 {
	color: #13201e;
}

h3 {
	font-family: 'Gill Sans';
	
}

#resume-box {
	background-color: #eaf7fb;
}

.navbar-brand img {
	height: 100%;
}

.well.clearfix.col-md-11 {
	background-color: #fff;
}