
body {
	background-color: #D2E6E3;
}

nav {
	background-color: #eff6f5;
}

h2, h3, h4 {
	color: #13201e;
}

#resume-box {
	background-color: #eff6f5;
}

.footer {
	background-color: #eff6f5;
	border-color: #eff6f5;
}

.navbar-brand img {
	height: 100%;
}